
<div class="container clearfix">
	<div class="row test">
	
      <div class=" col-xlg-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="circle " align="center">
          <a href="/#/tests/processus"><i class="fa fa-tasks fa-4x"> </i><h2>Unimodal Process</h2></a>
        </div>
      </div>
      <div class="col-xlg-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="circle center">
           <a href="/#/tests/fusion"><i class="fa fa-code-fork fa-4x"> </i><h2>Multimodal Fusion</h2>
         </a>
        </div>
      </div>
    <!--  <div class=" col-xlg-4 col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="circle ">
          <a href="#section_4"><i class="fa fa-paper-plane  fa-4x"> </i><h2>Optimized test</h2></a>
        </div>
      </div> !-->
    
 
	</div>
</div>