 
 <form [formGroup]='form' (ngSubmit)="onSubmit(form.value)" class=" row form-horizontal" > 

  <div class="col-sm-4">
   <div class="row">
    <div class="form-group col-sm-8">
     <input formControlName='name'  type="text" class="form-control" id="inputFirstName" placeholder="Name" required>
   </div>
   <div class="form-group col-sm-4">  

 
<p-fileUpload mode="basic"     maxFileSize="1000000" (onSelect)="onFileChange($event)"></p-fileUpload>
  </div>
  </div>
  <div class="form-group">
  <label for="inputWebsite">Need a traitement on BDD</label>
 
</div>
<div *ngIf="needed">
   <div class="row">
    <div class="form-group col-sm-8">
     <input formControlName='name2'  type="text" class="form-control" id="inputFirstName" placeholder="Name of BDD routine" required>
   </div>
   <div class="form-group col-sm-4">  

 
<p-fileUpload mode="basic"     maxFileSize="1000000" (onSelect)="onFileChange2($event)"></p-fileUpload>
  </div>
  </div>

</div>
  <div  class="form-group row options">

   <select required formControlName='modality'  (click)="updateSelect()"  class="form-control col-sm-11" id="exampleSelect1">
    <option value="" selected disabled>Modality</option>
    <option *ngFor=" let item of modalities" [value]="item.name">{{item.name}}</option>

  </select>
  <a  data-toggle="modal" data-target="#modalityModal"><i class="fa fa-plus-circle fa-lg"></i></a> 
  
</div> 
<div  class="form-group ">
 <select  required formControlName='module' class="form-control" id="exampleSelect1">
  <option value="" selected disabled>Module</option>
  <option value="Normalisation">Normalisation</option>
  <option value="Segmentation">Segmentation</option>
  <option value="Filtering">Filtering</option>
  <option value="Binarisation">Binarisation</option>
  <option value="Thining">Thining</option>
  <option value="Extraction">Extraction</option>
  <option value="Matching">Matching</option>
</select>
</div>
<div  class="form-group options row">

  <select required formControlName='category' (click)="updateSelect()" class="form-control col-sm-11" id="exampleSelect1">
    <option value="" selected disabled>Category</option>
        <option *ngFor=" let item of categories" [value]="item.name">{{item.name}}</option>

  </select>
  <a  data-toggle="modal" data-target="#categoryModal"><i class="  fa fa-plus-circle fa-lg"></i></a> 
</div>
<div class="form-group">
 <input required formControlName='ref' type="text" class="form-control" id="inputFirstName" placeholder="Réf">
</div>
<div class="form-group">
  <label for="inputWebsite">Public</label>
  <ui-switch  formControlName="publicMethod" size="small" color="#39527b" (change)="onChangeSwitch($event)" [checked]="false"></ui-switch>

</div>
<div class="form-group">
 <textarea required  formControlName='description' class="form-control" id="inputWebsite" placeholder="Description"></textarea>
</div>
</div>

 
<div   class="col-sm-8" >
<div class="col-sm-6" style="position:  fixed;">
 <codemirror   formControlName='code' class="" id="scriptMatlab"
         [config]="octaveConfig" >
    </codemirror>
 
<!--
 <section  highlight-js-content=".highlight" class=" form-control " id="  "  >
   <pre>
    <code [innerHtml]="scriptMatlab" id="scriptMatlab" formControlName='codeMatlab' contenteditable="true" class="matlab">

    </code>
  </pre>

</section> 
!-->
<div class="row pull-right footer">
 <button type="button"  class="btn btn-default "  (click)="cancel($event)">Cancel</button>
 <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button> 
</div>
</div>
</div>



</form>
 
<nga-add-modality></nga-add-modality>
 <p-growl [(value)]="msgs"></p-growl>
 <nga-add-category></nga-add-category>